.alta {
            background-color: #ff0000;
        }

        .media {
            background-color: rgb(187, 187, 0);
        }

        .baixa {
            background-color: rgb(0, 189, 0);
        }